/*
    React Snake
    Base SASS
*/


body {
    background: #efefef;
    font-family: verdana;
}

h1 {
    color: #cdcdcd;
    margin: 40px 0;
    text-align: center;
}



// grid
#grid {
    margin: 0 auto;
}

.grid {
    float: left;
}

.grid.cell {
    background: #333;
}

.grid.food {
    background: green;
}

.grid.body,
.grid.snake {
    background: blue;
}
